<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/usuario/usuario.css}" type="text/css"/>
    <title>Usuario</title>
    <style>
        label, input {
            display: block;
            width: 100px;
        }
    </style>
</head>
<body th:object="${cliente}">
    <h2>Detalhes do Usuario:</h2>
    <br />

    <label>IdUsuario:</label>
    <input readonly th:value="*{usuario.id}">

    <br />
    <label>Usuario:</label>
    <input readonly th:value="*{usuario.nome}">
    <br />

    <form
        action="/cliente/cadastra"
        method="post"
    >
        ID: <input readonly th:name="idUsuario" th:value="${cliente.usuario.id}" />
        <br />
        Nome: <input th:name="nome" th:value="*{nome}"/>
        <br />
        Cpf: <input th:name="cpf" th:value="*{cpf}" />
        <br />
        <input type="submit" value="Cadastra" />
    </form>

    <span th:text="${sucesso}"></span>

    <br />
    <a th:href="@{/}">Voltar</a>
</body>
</html>