body {
    background-color: #FA8073;
}
div {
    background-color: #FFFFFF;
    Width: 240px;
    margin: auto;
    margin-top: 30px;
}
div>h1 {
    display:inline-block;
    font-size: 24px;
}

div>ul {
    list-style: none;
    margin: 0;
    background-color: #FFFFFF;
    Height: 400px;
}