<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuários</title>
</head>
<body>
    <h2>Thymeleaf - Não USAR</h2>
    <h2>Cadstro de Usuario</h2>
    <form th:object="${usuarioFormInputDto}" action="/usuario/cadastra" method="post">
        <br />
        <label for="nome">Nome:</label><br/>
        <input id="nome" th:field="*{nome}" /> <span th:errors="*{nome}"></span>
        <br />
        <br />
        <label for="senha">Senha:</label> <br/>
        <input id="senha" th:field="*{senha}" />
        <span th:errors="*{senha}"></span>
        <br />
        <br />
        <button type="submit">Cadastra</button>
        <br />
        <br />
        <a th:href="@{/}">Voltar</a>
    </form>
</body>
</html>