<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/index.css}" type="text/css"/>
    <title>Title</title>
</head>
<body>
    <main>
        <div>
            <h1>Hotel TEx Beach</h1>
        </div>
        <div>
            <ul>
                <li><a th:href="@{/usuario/lista}">Lista de Usuarios</a></li>
                <li><a th:href="@{/hotel/listaClientes}">Lista de Clientes</a></li>
                <li><a th:href="@{/usuario/form}">Cadastrar usuários</a></li>
            </ul>
        </div>
    </main>
</body>
</html>