<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/usuario/usuario.css}" type="text/css"/>
    <title>Title</title>
</head>
<body>
    <h2>Lista de Usuarios:</h2>
<!--    <ul>-->
<!--        <li th:each="usuario : ${usuarios}" th:text="${usuario}"></li>-->
<!--    </ul>-->

    <br />
        <a th:href="@{/usuario/form}">cadastrar novo usuario</a>
    <br /><br />

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td>
                    <a th:href="@{/usuario/detalhe/{id}(id=${usuario.id})}"th:text="${usuario.id}"></a>
                </td>
                <td th:text="${usuario.nome}"></td>
                <td>
                    <a th:href="@{/usuario/preAltera(id=${usuario.id})}">Alterar</a>
                </td>
                <td>
                    <a th:href="@{/usuario/deleta(id=${usuario.id})}"> Excluir </a>
                </td>
            </tr>
        </tbody>
    </table>


    <br />
    <a th:href="@{/hotel}">Voltar</a>
</body>
</html>