<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/cliente/cliente.css}" type="text/css"/>
    <title>Title</title>
</head>
<body>
    <h2>Hotel Tex: Cadastro de Clientes</h2>
    <br />
    <table border=1px>
        <caption>Lista de Clientes:</caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Usuario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.nomeUsuario}"></td>
                <td><a th:href="@{/cliente/deleta/{id}(id=${cliente.id})}">Excluir</a></td>
            </tr>
        </tbody>

    </table>
    <br />
    <a th:href="@{/}">Voltar</a>
</body>
</html>