<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/cliente/cliente.css}" type="text/css"/>
    <title>Title</title>
</head>
<body>
    <h2>Lista de Clientes:</h2>
    <ul>
        <li th:each="cliente : ${clientes}" th:text="${cliente}"></li>
    </ul>
    <br />
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.usuario.nome}"></td>
            </tr>
        </tbody>

    </table>
    <br />
    <a th:href="@{/hotel}">Voltar</a>
</body>
</html>